:root {
    --color0: #D9ED92;
    --color1: #B5E48C;
    --color2: #99D98C;
    --color3: #76C893;
    --color4: #52B69A;
    --color5: #34A0A4;
    --color6: #168AAD;
    --color7: #1A759F;
    --color8: #1E6091;
    --color9: #184E77;
}

*{
    margin: 0;
    padding: 5px;
    font-family: 'Metal Mania', sans-serif;
}

body {
    /* background-color: var(--color9); */
    background: url(./witcher.jpg);
}

.container {
    padding: 10px;
}

img {
    margin: 10px;
}

header {
    /* background: linear-gradient(90deg, #76C893, #B5E48C, #76C893); */
    background: linear-gradient(90deg, #168AAD, #1E6091, #168AAD);
    border-radius: 0.5em;
}

#search-btn {
    background-color: var(--color3);
}