:root {
    --color0: #D9ED92;
    --color1: #B5E48C;
    --color2: #99D98C;
    --color3: #76C893;
    --color4: #52B69A;
    --color5: #34A0A4;
    --color6: #168AAD;
    --color7: #1A759F;
    --color8: #1E6091;
    --color9: #184E77;
}

*{
    margin: 0;
    padding: 5px;
    font-family: 'Metal Mania', sans-serif;
}

:root { 
    --gradient1: linear-gradient(90deg, #34A0A4, #168AAD, #1E6091, #168AAD, #34A0A4);

    --gradient2: linear-gradient(90deg, #34A0A4, #168AAD, #34A0A4, #168AAD, #1E6091);
}

body {
    /* background-color: var(--color9); */
    background: url(./witcher.jpg);
    background-size: cover;
}

.container {
    padding: 10px;
}

img {
    margin: 10px;
}

header {
    /* background: linear-gradient(90deg, #76C893, #B5E48C, #76C893); */
    background: var(--gradient1);
    border-radius: 0.5em;
    display: flex;
    justify-content: space-between;
}

#search-btn {
    background-color: var(--color3);
    border-radius: 0.5em;
}

nav {
    flex-basis: 50%;
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 1.5rem;
    margin-top: 10%;
    justify-content: space-evenly;
    font-weight: bold;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}