:root {
    --color0: #D9ED92;
    --color1: #B5E48C;
    --color2: #99D98C;
    --color3: #76C893;
    --color4: #52B69A;
    --color5: #34A0A4;
    --color6: #168AAD;
    --color7: #1A759F;
    --color8: #1E6091;
    --color9: #184E77;

    --gradient1: linear-gradient(90deg, #34A0A4, #168AAD, #1E6091, #168AAD, #34A0A4);

    --gradient2: linear-gradient(90deg, #34A0A4, #168AAD, #34A0A4, #168AAD, #1E6091);
}

*{
    margin: 0;
    padding: 5px;
    font-family: 'Metal Mania', sans-serif;
}

h1 {
    font-size: 3rem;
}

#newRelease-body {
    background: url(theOneRing.jpg);
    background-size: cover;
}

body {
    /* background-color: var(--color9); */
    background: url(../images/witcher.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    padding-top: 2%;
    flex-basis: 30%;
}

img {
    margin: 10px;
}

header {
    background: var(--gradient1);
    border-radius: 0.5em;
    display: flex;
    justify-content: space-between;
}

.btn {
    background-color: var(--color3);
    border-radius: 0.5em;
    width: 100px;
    font-weight: bold;
    margin: 2%;
}

nav {
    flex-basis: 50%;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 1.5rem;
    padding-top: 10%;
    justify-content: space-around;
    font-weight: bold;
}

form {
    flex-wrap: wrap;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

@media (max-width: 580px) {
    body {
        background-repeat: repeat;
    }
}